.footer
  .footer__container
    .footer__copyright(data-aos="fade-up" data-aos-duration="600")
      p.footer__copyright-text Copyright © 2022 
        a.footer__site-link(href="#") Project Zealous
        .footer__menu 
          ul.footer__menu-wrap 
            li.footer__menu-item 
              a.footer__menu-link(href="#") 
                span | Privacy Policy
            li.footer__menu-item 
              a.footer__menu-link(href="#") 
                span | Terms of Use
