#main-header.header
  .header__container.header__desktop.wow.fadeInLeft
    .header__main-menu
      ul.header__menu 
        li.header__menu-item
          a.header__menu-link(href="")
            span What we do
        li.header__menu-item
          a.header__menu-link(href="")
            span What we can offer
        li.header__menu-item.header__img-item
          a.header__menu-link(href="")
            img(src="/img/pz-logo.png", alt="Site Logo")
        li.header__menu-item
          a.header__menu-link(href="")
            span Our Live Demos
        li.header__menu-item
          a.header__menu-link(href="")
            span Contact Us

  .header__container.header__mobile
    .header__burger-menu
      .header__burger-toogle
    .header__mobile-menu 
      ul.header__menu 
        li.header__menu-item
          a.header__menu-link(href="")
            span What we do
        li.header__menu-item
          a.header__menu-link(href="")
            span What we can offer
        li.header__menu-item
          a.header__menu-link(href="")
            span Our Live Demos
        li.header__menu-item
          a.header__menu-link(href="")
            span Contact Us
    .header__mobile-logo
      .header__site-logo
        img(src="/img/pz-logo.png", alt="Site Logo")