html {
  font-family: $poppin;
  color: $text;
  font-size: 10px;
  font-feature-settings: 'palt';
  @media screen and (max-width: 980px) {
    min-width: 980px;
  }
  @include sp {
    min-width: 100%;
  }
}
.pz-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.py-100{
  padding: 100px 0;
}
.pt-100{
  padding-top: 100px;
}
.pb-100{
  padding-bottom: 100px;
}
.full-height{
  height: 100%;
}
.pz-column-wrap {
  display: flex;
  align-items: center;
}
.pz-col-half {
  max-width: 50%;
  flex: 50%;
}
.pz-col-third {
  max-width: 33.33%;
  flex: 33.33%;
}
.pz-col-fourth {
  max-width: 37%;
  flex: 37%;
}
.pz-col-sixth {
  max-width: 63%;
  flex: 63%;
}
.pz-btn {
  border: 3px solid #02d0ff;
  padding: 14px 64px;
  font-size: 1.6rem;
  border-radius: 28px;
  color: #02d0ff;
  text-transform: uppercase;
  font-weight: 600;
}
.pz-title {
  text-align: center;
  font-size: 8rem;
  font-family: $title;
  font-weight: 500;
  margin-bottom: 20px;
}
#fp-nav ul li a span {
  background: #fff !important;
}
#fp-nav ul li .active span {
  background: #02d0ff !important;
}