//font-family
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

@font-face {
  font-family: 'Conv_CursiveSerif';
  src: url('/fonts/CursiveSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$poppin: 'Poppins', sans-serif;
$title: 'Conv_CursiveSerif';

//color
$primary: #0b1e5a;
$secondary: #498dc5;

$text: #ffffff;
$black: #000;
$white: #fff;

//font-weight
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
