.footer{
  position: relative;

  &__container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

  &__copyright {
    display: flex;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu-wrap {
    display: flex;
  }

  &__copyright-text {
    font-size: 1.5rem;
    font-weight: 300;
    margin-right: 8px;
  }

  &__menu-link {
    font-size: 1.5rem;
  }

  &__menu-item{
    &:first-child {
      margin-right: 8px;
    }
  }
}