.header {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 99;

  &__mobile {
    display: none;
    @media screen and (max-width: 768px){
        display: block;
    }
  }

  &__desktop{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 768px){
        display: none;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu-item {
    padding: 0 20px;

    span {
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  &__main-menu {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}