.pz-banner{
  background-image: url('/img/banner-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &__container{
    display: flex;

    @include mx1400{
      justify-content: center;
      padding: 100px 0 50px;
    }
  }

  &__main-wrap{
    @include mx1400{
      flex-direction: column;
    }
  }

  &__cont-area,
  &__image-area {
    @include mx1400{
      max-width: 100%;
      flex: 100%;
    }
  }

  &__cont-area{
    @include mx1400{
      display: flex;
      flex-direction: column;
      align-items: center;
      order: 2;
      justify-content: flex-end;
    }
  }

  &__image-area {
    display: flex;
    justify-content: center;
    @include mx1400{
      order: 1;
      padding-top: 50px;
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: left;
  }

  &__colored-text {
    color: #b877ff;
  }

  &__subtitle {
    font-size: 2rem;
    margin-bottom: 50px;
    font-weight: 300;
    
    @include mx1400{
      font-size: 1.6rem;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}