.pz-wwco{
  background-image: url('/img/wwco-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &_subtitle {
     font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
  }

  &__main-wrap {
    margin: 70px 0 0;
  }

  &__info-title {
    font-family: $title;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 3rem;
    position: relative;

    &::after {
      content: '';
      width: 75px;
      height: 2px;
      position: absolute;
      background-color: #02d0ff;
      left: 0;
      bottom: -8px;
    }
  }

  &__info-text {
    font-size: 2rem;
    font-weight: 300;
  }

  &__info {
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
  }

  &__image-area {
    text-align: center;
  }
}