.pz-wwd{
  background-color: #191919;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content-area {
    background-color: rgba(255,255,255,.2);
    margin: 0 16px;
    border-radius: 20px;
  }

  &__info-title {
    font-family: $title;
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 10px;
  }

  &__info-text {
    font-size: 1.6rem;
    font-weight: 300;
  }

  &__info-area {
    text-align: center;
    padding: 30px 20px;
  }

  &__image-area {
    background-color: rgb(184 119 255 / 80%);
    border-radius: 20px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
    margin-top: -100px;
  }

  &__main-wrap {
    margin: 150px 0 70px;
  }

  &__btn-wrap {
    text-align: center;
  }
}