.pz-twu{
  background-color: #241436;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__main-wrap {
    justify-content: space-between;
    margin: 100px 0;
  }

  &__content-area {
    background-color: rgb(218 185 255 / 70%);
    border-radius: 20px;
  }

  &__info-wrap {
    padding: 70px 50px;

    &:first-child {
      padding: 70px 25px 70px 50px;
    }

    &:last-child {
        padding: 70px 50px 70px 25px;
    }
  }

  &__info-title {
    font-family: $title;
    font-weight: 500;
    font-size: 5rem;
  }

  &__info-text {
    font-size: 2.2rem;
    font-weight: 300;
  }
}