.pz-od{
  background-image: url('/img/demos-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;

  &__main-wrap {
    height: 100%;
    align-items: flex-start;
  }

  &__info-title {
    font-size: 3rem;
    font-weight: 300;
    position: relative;

    &::before {
      content: '';
      width: 60px;
      height: 2px;
      background-color: #b877ff;
      position: absolute;
    }
  }

  &__title {
    margin-bottom: 100px;
  }

  &__content-area {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 20px;
    position: relative;

    &:hover{
      cursor: pointer;
    }
  }

  &__blog-area{
    background-image: url('/img/demos-blog-bg.png');
  }

  &__ecom-area{
    background-image: url('/img/demos-ecomm-bg.png');
  }

  &__port-area{
    background-image: url('/img/demos-portfolio-bg.png');
  }

  &__content-overlay {
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

}