.pz-contact{
  background-image: url('/img/contact-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 150px);

  &__title {
    font-family: $title;
    font-weight: 500;
    font-size: 8rem;
    position: relative;
    margin-bottom: 35px;

    &:after {
      content: '';
      width: 320px;
      height: 2px;
      background-color: #ffffff;
      display: block;
      margin-top: 25px;
    }
  }

  &__soc-med-wrap {
    display: flex;
    justify-content: flex-start;
  }

  &__soc-link {
    margin: 0 10px;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }
  }

  &__form-wrap {
    max-width: 550px;
    background-color: rgb(184 119 255 / 80%);
    margin: 0 auto;
    padding: 80px 70px 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    right: 20%;
  }

  &__form-title {
    font-family: $title;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  &__form-fields{
    input,
    textarea{
      height: 50px;
      margin-bottom: 20px;
      background: transparent;
      border-bottom: 2px solid #fff;
      border-top: none;
      border-left: none;
      border-right: none;
      width: 100%;

      &::placeholder {
        color: #fff;
        font-size: 16px;
      }
    }

    textarea {
      height: 35px;
    }
  }

  &__form-phone {
    margin-bottom: 30px;
  }

  &__submit {
    border-color: #fff;
    color: #fff;
  }

  &__form-message {
    margin-bottom: 30px;
  }

  &__form-submit {
    text-align: center;
  }
}
