extends includes/layout.pug
block content
  main#proj-z-fullpage.proj-z.top

    section.proj-z__banner.pz-banner
      .pz-banner__container.pz-container.py-100.full-height
        .pz-banner__main-wrap.pz-column-wrap
          .pz-banner__cont-area.pz-column.pz-col-fourth.wow.fadeInLeft
            h1.pz-banner__title.pz-title Project 
              span.pz-banner__colored-text Z
            h5.pz-banner__subtitle Let us talk about your project and how we are going <br>to develop it into a most creative website.
            a.pz-banner__btn.pz-btn(href="#") Talk to us
          .pz-banner__image-area.pz-column.pz-col-sixth.wow.fadeInRight
            img.pz-banner__img(src="/img/banner-image.png", alt="Banner Image")

    section.proj-z__whatwedo.pz-wwd 
      .pz-wwd__container.pz-container.py-100.full-height
        h2.pz-wwwd__title.pz-title(data-aos="fade-down") What we do
        .pz-wwd__main-wrap.pz-column-wrap(data-aos="fade-up")
          .pz-wwd__content-area.pz-column.pz-col-third 
            .pz-wwd__inner-wrap 
              .pz-wwd__image-area 
                img.pz-wwd__img(src="/img/wdg-graphics.png", alt="What We Do Graphics")
              .pz-wwd__info-area 
                h5.pz-wwd__info-title Web Design & Graphics
                p.pz-wwd__info-text Help us create the awesome website <br>that you want. Achieve the design <br>that you have always wanted.
          .pz-wwd__content-area.pz-column.pz-col-third 
            .pz-wwd__inner-wrap 
              .pz-wwd__image-area 
                img.pz-wwd__img(src="/img/pwd-graphics.png", alt="What We Do Graphics")
              .pz-wwd__info-area 
                h5.pz-wwd__info-title Plugin & Website Development
                p.pz-wwd__info-text Tell us what you want and we'll do it <br>for you. Get your own customized <br>website and plugins.
          .pz-wwd__content-area.pz-column.pz-col-third 
            .pz-wwd__inner-wrap 
              .pz-wwd__image-area 
                img.pz-wwd__img(src="/img/st-graphics.png", alt="What We Do Graphics")
              .pz-wwd__info-area 
                h5.pz-wwd__info-title Snippets and Tutorials
                p.pz-wwd__info-text Develop your skills with the help <br>of our knowledgebase from <br>simple to complex coding.
        .pz-wwd__btn-wrap(data-aos="fade-up")
          a.pz-wwd__btn.pz-btn(href="#") Talk to us

    section.proj-z__whatwecanoffer.pz-wwco
      .pz-wwco__container.pz-container.py-100.full-height
        h2.pz-wwco__title.pz-title(data-aos="fade-right") What we can offer
        h6.pz-wwco_subtitle(data-aos="fade-left")
          | We will focus on YOU; what you need and what you want. With proper brainstorming and the right mix of <br>
          | your ideas and our skills, we will achieve the best website and the best product that will help <br>
          | boost your business. We will work as a team and achieve our goals as a team.
        .pz-wwco__main-wrap.pz-column-wrap
          .pz-wwco__image-area.pz-column.pz-col-fourth(data-aos="fade-up-right")
            img.pz-wwco__image(src="/img/wwco-graphics.png", alt="What We Can Offer Graphics")
          .pz-wwco__content-area.pz-column.pz-col-sixth(data-aos="fade-left" data-aos-duration="800" data-aos-offset="300" data-aos-easing="ease-in-sine")
            .pz-wwco__info
              h4.pz-wwco__info-title Build relevant skills
              h5.pz-wwco__info-text Learn on your own using our detailed knowledgebase. Boost your skills as we keep <br>on publishing new things we would discover in the world of software technology.
            .pz-wwco__info
              h4.pz-wwco__info-title Turn your ideas into reality
              h5.pz-wwco__info-text Let’s talk about how would you like to showcase your business or what do you want <br>your website to do for you. Help us develop more plugins that can be used by <br>multiple users.
            .pz-wwco__info
              h4.pz-wwco__info-title Be known in the online world
              h5.pz-wwco__info-text Publish your website at a very affordable price. Choose from our hosting plans and <br>get your free SSL.

    section.proj-z__technologiesweuse.pz-twu
      .pz-twu__container.pz-container.py-100.full-height
        h2.pz-twu__title.pz-title(data-aos="fade-down") Technologies we use
        .pz-twu__main-wrap.pz-column-wrap(data-aos="fade-left")
          img.pz-twu__image(src="/img/php-icon.png", alt="Technology Icon")
          img.pz-twu__image(src="/img/html-icon.png", alt="Technology Icon")
          img.pz-twu__image(src="/img/css-icon.png", alt="Technology Icon")
          img.pz-twu__image(src="/img/js-icon.png", alt="Technology Icon")
          img.pz-twu__image(src="/img/wordpress-icon.png", alt="Technology Icon")
        .pz-twu__content-area.pz-column-wrap(data-aos="fade-up")
          .pz-twu__info-wrap.pz-column.pz-col-half(data-aos="fade-right")
            h2.pz-twu__info-title Let us together build a<br> flourishing business
          .pz-twu__info-wrap.pz-column.pz-col-half(data-aos="fade-left")
            h5.pz-twu__info-text When connected with us, you aren't growing your business alone. We have your back and put in our best to contribute to the growth of your entire team and organization. So, if you are looking for the right agency that’ll help you build a good online presence and bring in more conversions and revenue, we are right here!

    section.proj-z__ourdemos.pz-od
      .pz-od__container.pt-100.full-height
        h2.pz-od__title.pz-title(data-aos="fade-down") Our Demos
        .pz-od__main-wrap.pz-column-wrap
          .pz-od__content-area.pz-od__blog-area.pz-column.pz-col-third(data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500")
            .pz-od__content-overlay
            h3.pz-od__info-title BLOG
          .pz-od__content-area.pz-od__ecom-area.pz-column.pz-col-third(data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="15000")
            .pz-od__content-overlay
            h3.pz-od__info-title ECOMMERCE
          .pz-od__content-area.pz-od__port-area.pz-column.pz-col-third(data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000")
            .pz-od__content-overlay
            h3.pz-od__info-title PORTFOLIO

    section.proj-z__contactus.pz-contact
      .pz-contact__container.pz-container
        .pz-contact__main-wrap.pz-column-wrap
          .pz-contact__info-wrap.pz-column.pz-col-half
            h2.pz-contact__title(data-aos="fade-right" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-in-sine") Contact Us
            .pz-contact__soc-med-wrap(data-aos="fade-left" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-in-sine")
              a.pz-contact__soc-link(href="#")
                img(src="/img/mail-icon.png", alt="Mail Icon")
              a.pz-contact__soc-link(href="#")
                img(src="/img/phone-icon.png", alt="Phone Icon") 
              a.pz-contact__soc-link(href="#")
                img(src="/img/facebook-icon.png", alt="Facebook Icon") 
              a.pz-contact__soc-link(href="#")
                img(src="/img/instagram-icon.png", alt="Instagram Icon") 
              a.pz-contact__soc-link(href="#")
                img(src="/img/pinterest-icon.png", alt="Pinterest Icon") 
          .pz-contact__info-wrap.pz-column.pz-col-half
            .pz-contact__form-wrap(data-aos="fade-down")
              h3.pz-contact__form-title(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1400") Talk to us
              .pz-contact__form-fields(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1600")
                .pz-contact__form-name
                  input( type="text" id="name" name="name" placeholder="Name")
                .pz-contact__form-email
                  input( type="text" id="email" name="email" placeholder="Email")
                .pz-contact__form-phone
                  input( type="text" id="phone" name="phone" placeholder="Phone")
                .pz-contact__form-message
                  textarea( id="message" name="message" placeholder="Message" )
                .pz-contact__form-submit
                  a.pz-contact__submit.pz-btn(href="#") TALK TO US